.navbar {
  background: #2e0071;
  color: white;
}

.top-bar {
  padding: 5px 20px;
  background: #190044;
  font-size: 14px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}
